{% for page in data %}
    <div class="page_enfant">
        <a href="{{ page.url }}" class="my-2">
            <img src="{{ page.image.url }}" alt="{{ page.image.alt }}" class="img-fluid">
            <h4>{{ page.title }}</h4>
        </a>
        <p>{{ page.body | raw }}</p>
    </div>
{% endfor %}
