<div class="list-result content-page">
{% if data is not empty %}
    {% for consultation in data %}
        <div class="result p-4">
            <div class="teaser">
                <a href="{{ consultation.url }}"><h4>{{ consultation.title }}</h4></a>
                <p>
                    <b>Adresse</b> :   {{ consultation.adresse }}, {{ consultation.ville }}<br>
                    <b>Numéro de téléphone</b> : {{ consultation.telephone }}<br>
                    <b>Horaires</b> : {{ consultation.horaires | striptags('<b><strong><ul><li><a><img><ol><u><i>') | raw }}
                </p>
            </div>
            <a href="{{ consultation.url }}" class="align-self-center btn btn-outline-light">Détails</a>
        </div>
    {% endfor %}
{% else %}
    <h4>Aucune consultation trouvée pour cette recherche</h4>
{% endif %}
</div>