<div class="list-result content-page">
{% for consultation in data %}
        <div class="result py-4 px-2">
            <div class="teaser ml-2">
                <a href="{{ consultation.url }}"><h4>{{ consultation.title }}</h4></a>
                <p>
                    <b>Adresse</b> :   {{ consultation.adresse }}, {{ consultation.ville }}<br>
                    <b>Numéro de téléphone</b> : {{ consultation.telephone }}<br>
                    <b>Horaires</b> : {{ consultation.horaires | striptags('<b><strong><ul><li><a><img><ol><u><i>') }}
                </p>
            </div>
            <a href="{{ consultation.url }}" class="align-self-center btn btn-outline-light">Détail de la consultation</a>
        </div>
    {% endfor %}
</div>