<div class="list-result content-page mt-5">
    {% for formation in data %}
        <div class="result p-4">
            <div class="teaser">
                <a href="{{ formation.url }}"><h4>{{ formation.title }}</h4></a>
                <div class="row my-3">
                    <div class="text-center col-md-4 isField">
                        {% if formation.duree is not empty %}
                            <i class="fas fa-hourglass-half text-warning"></i>
                            {{ formation.duree }}
                        {% endif %}
                    </div>
                    <div class="text-center col-md-4 isField">
                        {% if formation.organisation is not empty %}
                            <i class="fas fa-users text-warning"></i>
                            {{ formation.organisation }}
                        {% endif %}
                    </div>
                    <div class="text-center col-md-4 isField">
                        {% if formation.publics is not empty %}
                            <i class="fas fa-graduation-cap text-warning"></i>
                            {{ formation.publics }}
                        {% endif %}
                    </div>
                </div>
                <div>
                    {{ formation.objectifs  | striptags('<b><strong><ul><li><a><img><ol><u><i>') | raw }}
                </div>
            </div>
            <a href="{{ formation.url }}" class="align-self-center btn btn-outline-light">Détail de la formation</a>
        </div>
    {% endfor %}
</div>