<div class="list-result content-page mt-5">
    {% for offre in data %}
        <div class="result p-4">
            <div class="teaser">
                <a href="{{ offre.url }}"><h4>{{ offre.title }}</h4></a>
                <div class="row my-2">
                    <div class="col-md-3">
                        <img src="{{ offre.image.url }}" alt="{{ offre.image.alt }}" class="img-fluid">
                    </div>
                    <div class="col-md-9 px-3">
                        <div class="row">
                            <div class="col-md-12 isField my-3">
                                {% if offre.date_deb is not empty %}
                                    <div>
                                        <i class="fas fa-calendar-plus text-warning"></i>
                                        À partir du {{ offre.date_deb }}
                                        {% if offre.date_fin is not empty %}
                                            jusqu'au {{ offre.date_fin }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-12 isField my-3">
                                {% if  offre.date_limite is not empty %}
                                    <div>
                                        <i class="fas fa-calendar-times text-warning"></i>
                                        Limite de candidature :
                                        {{ offre.date_limite }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-4 isField">
                                {% if offre.lieu is not empty %}
                                    <br>
                                    <div class="">
                                        <i class="fas fa-map-marker text-warning"></i>
                                        {{ offre.lieu }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-md-3 isField">
                                {% if offre.statut is not empty %}
                                    <br>
                                    <div class="">
                                        <i class="fas fa-pencil-alt text-warning"></i>
                                        {{ offre.statut }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-3 isField">
                                {% if offre.grade is not empty %}
                                    <br>
                                    <div class="">
                                        <i class="fas fa-graduation-cap text-warning"></i>
                                        {{ offre.grade }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-2 isField">
                                {% if offre.type_contrat is not empty %}
                                    <br>
                                    <div class="">
                                        <i class="fas fa-clipboard text-warning"></i>
                                        {{ offre.type_contrat }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    {{ offre.fiche | striptags('<b><strong><ul><li><a><img><ol><u><i>') | raw }}
                </div>
            </div>
            <a href="{{ offre.url }}" class="align-self-center btn btn-outline-light">En savoir plus</a>
        </div>
    {% endfor %}
</div>
