<h3>{{ data.form1.title }}</h3>

<form action="{{ data.form1.action }}" method="GET">
    {{ data.form1.form.lieu }}
    {{ data.form1.form.type }}

    <button>OK</button>
</form>


<h3>{{ data.form2.title }}</h3>

<form action="{{ data.form2.action }}" method="GET">
    {{ data.form2.form.pathologie }}

    <button>OK</button>
</form>