<header>
    {{ page.highlighted }}
    {{ page.help }}
    <div class="sur-header">
        <div class="container">
            <a href="/" title="{{ site_name }}" class="logo">
                <img src="{{ logo_header }}" class="img-fluid" alt="{{ site_name }}">
            </a>
            <div class="row">
                <div class="col-md-10 offset-md-2 p-3 d-lg-flex justify-content-end align-items-center">
                    {{ page.header }}
                </div>
            </div>

        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-2 py-lg-3 d-lg-flex align-items-center">
                    <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                    </button>
                    {{ page.primary_menu }}
                </div>
            </div>
        </div>
    </div>
</header>