<header>
    <a href="/" title="{{ site_name }}"><img src="{{ logo_header }}" alt="{{ site_name }}"></a>

    {{ page.header }}

    {{ page.primary_menu }}

    {{ page.highlighted }}
    
    {{ page.help }}
</header>