<header>
    <div class="sur-header">
        <div class="container">
            <a href="/" title="{{ site_name }}" class="logo">
                <img src="{{ logo_header }}" class="img-fluid" alt="{{ site_name }}">
            </a>
            <div class="row">
                <div class="col-md-10 offset-md-2 p-3 d-lg-flex justify-content-end align-items-center">
                    {{ page.header }}
                    <!--        <form action="" class="flex-fill">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Je recherche dans le site" aria-label="" aria-describedby="basic-addon1">
                                    <div class="input-group-append">
                                        <button class="btn btn-white" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                            <div class="phone d-flex align-items-center mx-3">
                                <i class="fa fa-phone reverse onblue mr-2"></i>
                                <div class="d-flex flex-column">
                                    C.H du Rouvray
                                    <b class="text-info">02.32.95.12.34</b>
                                </div>
                            </div>
                            <a href="tel:15" class="bg-danger d-flex align-items-center p-2 mx-2">
                                <img src="img/urgence.png" class="mr-2" alt="">
                                <div class="d-flex flex-column">
                                    URGENCES <br>
                                    15
                                </div>
                            </a>
                            <div class="dropdown mx-3">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="img/fr_flag.png" alt="">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" href="#!"><img src="img/en_flag.jpg" alt=""></a>
                                </div>
                            </div>
                            <ul class="d-inline mb-0 p-0">
                                <li class="d-inline mx-1"><a href="" class="text-primary" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="d-inline mx-1"><a href="" class="text-primary" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li class="d-inline mx-1"><a href="" class="text-primary" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            -->
                </div>
            </div>

        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-2 py-lg-3 d-lg-flex align-items-center">
                    <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                    </button>
                    {{ page.primary_menu }}
                </div>
            </div>
        </div>
    </div>

    {{ page.highlighted }}

    {{ page.help }}
</header>