{% include directory ~ '/templates/parts/header.html.twig' %}

<main>
    {{ page.top_content }}
    <div class="search_and_slide mb-5">
        <div class="container">
            <div class="row">
                {{ page.home_top }}
            </div>
        </div>
    </div>
    <div class="py-2"></div>
    {{ page.home }}

    <div class="container pt-5 mt-5">
        {{ page.home_bis }}
    </div>
    <div class="bg-warning separator with_shadow shadow-bottom mb-5"></div>
    <div class="container">
        <div class="row">
            {{ page.home_bottom }}
        </div>
    </div>
</main>
{% include directory ~ '/templates/parts/footer.html.twig' %}