{% include directory ~ '/templates/parts/header.html.twig' %}

<main>
    {{ page.top_content }}
    <div class="search_and_slide mb-5">
        <div class="container">
            <div class="row">
                {{ page.home_top }}
            </div>
        </div>
    </div>
    <div class="py-2"></div>
    {{ page.home }}

    <div class="container pt-5 mt-5">
        {{ page.home_bottom }}

        <div class="shadow">
            <h2 class="c-left text-info mb-5">Actualités</h2>
            <div class="row">
                <a href="#" class="col actu">
                            <span class="top_actu">
                                <img src="/themes/site/img/act1.png" alt="" class="img-fluid">
                                <div class="date with-end">
                                    <span>Du 22 Juil</span><span>Au 3 Aout</span>
                                </div>
                            </span>
                    <span class="title_actu">L'activité de l'USP du pôle Rouen Seine Caux et Bray mise en avant</span>
                </a>
                <a href="#" class="col actu">
                            <span class="top_actu">
                                <img src="/themes/site/img/act2.png" alt="" class="img-fluid">
                                <div class="date">
                                    <span>21 juin</span>
                                </div>
                            </span>
                    <span class="title_actu">Vernissage - exposition aux alternatives à l'hospitalisation</span>
                </a>
                <a href="#" class="col actu">
                            <span class="top_actu">
                                <img src="/themes/site/img/act3.png" alt="" class="img-fluid">
                                <span class="date">
                                    <span>29 juin</span>
                                </span>
                            </span>
                    <span class="title_actu">Appel aux dons Festival Art et Déchirure</span>
                </a>
                <a href="#" class="col actu">
                            <span class="top_actu">
                                <img src="/themes/site/img/act4.png" alt="" class="img-fluid">
                                <span class="date with-end">
                                    <span>Du 22 JUIL</span><span>au 3 AOUT</span>
                                </span>
                            </span>
                    <span class="title_actu">Spectacle gratuit - une vue de l’esprit</span>
                </a>
                <div class="col-12 text-center my-4">
                    <a href="#" class="c-around"><b>Toutes les actualités</b></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-warning separator with_shadow shadow-bottom mb-5"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 ">
                <div class="bg-warning p-4">
                    <h3 class="c-left c-bleu text-info mb-4">Livret d'accueil du patient</h3>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="/themes/site/img/livret.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-7">
                            <p class="mt-4 mb-4"><a href="" class="text-primary"><u>Feuilleter</u></a></p>
                            <p class="mt-2 mb-4"><a href="" class="text-primary"><u>Telécharger en PDF</u></a></p>
                            <p class="ml-4"><a href="" class="c-around c-bleu">Toutes les publications</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 nous-rejoindre">
                <div class="shadow">
                    <h2 class="c-left text-info">Nous rejoindre</h2>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="posr">
                                <img src="/themes/site/img/nous_rejoindre.png" class="img-fluid" alt="">
                                <div class="bg-white">
                                    <h5 class="text-info"><a href="#">Devenez infirmier/ère</a></h5>
                                    <p class="mb-0">Un métier d'écoute, d’accompagnement, de soutien. Une carrière
                                        évolutive</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="d-flex flex-column justify-content-between align-items-center text-center h-100">
                                <a href="" class="text-left">

                                    <span class="text-uppercase d-block">SE FORMER à l'ifsi</span>
                                    <span>Découvrez toutes nos formations</span>
                                </a>
                                <a href="">
                                    <span class="text-uppercase d-block">Offres d'emploi</span>
                                    <span>Actuellement 7 offres d'emploi</span>
                                </a>
                                <a href="">
                                    <i class="fas fa-plus-circle text-warning d-block"></i>
                                    <span class="text-uppercase">Déposez votre candidature</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="acces-rapide">
        <div class="container">
            <div class="d-lg-flex flex-column align-items-end">
                <a class="d-lg-flex align-items-center bg-warning"><img class="mr-2"
                                                                        src="/themes/site/img/agenda_ico.png"
                                                                        alt=""><span class="op0">Agenda</span></a>
                <a class="d-lg-flex align-items-center bg-warning"><img class="mr-2"
                                                                        src="/themes/site/img/notepad_ico.png"
                                                                        alt=""><span class="op0">Hospitalisations</span></a>
                <a class="d-lg-flex align-items-center bg-warning"><img class="mr-2"
                                                                        src="/themes/site/img/pharm_ico.png"
                                                                        alt=""><span class="op0">Urgences</span></a>
                <a class="d-lg-flex align-items-center bg-warning"><img class="mr-2" src="/themes/site/img/map_ico.png"
                                                                        alt=""><span class="op0">Plan d'accès</span></a>
                <a class="d-lg-flex align-items-center bg-warning"><img class="mr-2" src="/themes/site/img/mail_ico.png"
                                                                        alt=""><span
                            class="op0">Contactez-nous</span></a>
            </div>
        </div>
    </div>
</main>

<main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="layout-content">

        {{ page.bottom_content }}
    </div>

    {% if page.sidebar_first %}
        <aside class="layout-sidebar-first" role="complementary">
            {{ page.sidebar_first }}
        </aside>
    {% endif %}

    {% if page.sidebar_second %}
        <aside class="layout-sidebar-second" role="complementary">
            {{ page.sidebar_second }}
        </aside>
    {% endif %}

</main>


{% include directory ~ '/templates/parts/footer.html.twig' %}