<div id="main-info">
    <img src="{{ data.image }}" alt="{{ data.title }}" class="img-fluid">
    <div class="caption">
        <div class="container">
            <h1 class="text-info"><a href="{{ data.link }}">{{ data.title }}</a></h1>
            <div class="bg-white">
                <div class="d-lg-flex align-items-center justify-content-between mt-3">
                    <div class="text">{{ data.presentation }}</div>
                    <a href='{{ data.link }}'><i class="fa fa-angle-double-right text-warning"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>